main {
  width: 100%;
  height: 100vh;
  background-color: #ebebed;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .card-1 {
    z-index: 4;
  }

  .card-2 {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-68%, -68%) rotate(-6deg);
  }

  .card-3 {
    z-index: 3;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(68%, -65%) rotate(7deg);
  }

  .card-active-1 {
    z-index: 5;
    animation: card-front 1s forwards;
  }

  @keyframes card-front {
    0% {
      transform: translate(-68%, -68%) rotate(-6deg);
    }

    50% {
      transform: translate(-68%, -80%) rotate(0);
    }

    100% {
      transform: translate(-50%, -50%) rotate(0);
    }
  }
}

.card-view {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.118);
  background-color: white;
  width: 320px;
  height: 320px;
  border-radius: 24px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .profile-pic {
    width: 100px;
  }

  h3 {
    font-size: 14px;
    font-weight: 800;
    color: #838ff7;
    letter-spacing: 1px;
    margin-top: 8px;
  }

  h4 {
    font-size: 28px;
    font-weight: 900;
    line-height: 32px;
    color: rgb(43, 43, 43);
    letter-spacing: 1px;
  }

  p {
    font-size: 14px;
    font-weight: 600;
    color: #858585;
    margin-top: 4px;
  }

  button {
    background-color: #e9e9e9;
    width: 100%;
    padding: 10px;
    border-radius: 50px;
    color: rgb(43, 43, 43);
    border: none;
    font-family: inherit;
    font-size: 16px;
    font-weight: 800;
  }
}
