<!-- 
  - Siddarth.G
  - Frontend Web Developer & Ui / Ux

  -> Graduation
  - St.Peters University | B.com
  - Ecrrede | Web Development

  -> Course
  - Udemy | Html, Css, Js
  - CodeAcadamy | Angular, React Native

  -> Languages & Packages
  - Html & Css
  - Javascript
  - Angular, React
 -->

<main>
  <section class="card-view card-1">
    <div>
      <img src="./../assets/bitmap.png" class="profile-pic" />
      <h3>Siddarth.G</h3>
      <h4>Portfolio</h4>
      <p>Frontend Web Developer & Ui / Ux</p>
    </div>
    <button>View all</button>
  </section>

  <section
    class="card-view card-2"
    [ngClass]="{ 'card-active-1': isCardActive }"
    (click)="cardActive()"
  >
    <div>
      <h4><i class="fa-solid fa-graduation-cap"></i></h4>
      <p>St.Peters University | B.com</p>
      <p>Ecrrede | Web Development</p>
    </div>
    <button>View all</button>
  </section>

  <section class="card-view card-3">
    <div>
      <h4><i class="fa-solid fa-book"></i></h4>
      <p>St.Peters University | B.com</p>
    </div>
    <button>View all</button>
  </section>
</main>
