<main>
  <section>
    <header>
      <p>Portfilio</p>
      <i class="fa-solid fa-circle-info"></i>
    </header>
    <div class="content">
      <img src="./assets/bitmap.png" />
      <div>
        <h3>Siddarth.G</h3>
        <p>Frontend Web Development & Ui/Ux Designer</p>
        <ul class="tags">
          <li>Angular</li>
          <li>React</li>
          <li>Figma</li>
          <li>More</li>
        </ul>
      </div>
    </div>

    <footer>
      <button>About</button>
    </footer>
  </section>
</main>
