<main>
  <section class="content-1">
    <h2>Sidd<img src="./../assets/bitmap.png" />arth.G</h2>
    <p>Portfilio</p>
  </section>

  <section class="content-2">
    <div class="border-curve"></div>
    <div class="border-bottom"></div>
    <div class="border-top"></div>
    <p class="arrow"><i class="fa-solid fa-chevron-up"></i></p>
    <p>Frontend Web Developer & Ui / Ux</p>
  </section>

  <section class="content-3">
    <div class="specs-div">
      <div class="spec spec-1">
        <div class="icon">
          <img src="./../assets/graduation.svg" />
        </div>
        <div class="spec-content">
          <div class="border-curve"></div>
          <div class="border-bottom"></div>
          <div class="border-top"></div>
          <p class="arrow"><i class="fa-solid fa-chevron-left"></i></p>
          <h3>Graduation</h3>
          <p>St.Peters University | B.com</p>
          <p>Ecrrede | Web Development</p>
        </div>
      </div>

      <div class="spec spec-2">
        <div class="icon">
          <img src="./../assets/course.svg" />
        </div>
        <div class="spec-content">
          <div class="border-curve"></div>
          <div class="border-bottom"></div>
          <div class="border-top"></div>
          <p class="arrow"><i class="fa-solid fa-chevron-left"></i></p>
          <h3>Course</h3>
          <p>Udemy | Html, Css, Js</p>
          <p>CodeAcadamy | Angular, React Native</p>
        </div>
      </div>
    </div>

    <div class="spec-3">
      <div class="icon">
        <img src="./../assets/skills.svg" />
      </div>
      <div class="spec-content">
        <div class="border-curve"></div>
        <div class="border-bottom"></div>
        <div class="border-top"></div>
        <p class="arrow"><i class="fa-solid fa-chevron-left"></i></p>
        <h3>Course</h3>
        <p>Udemy | Html, Css, Js</p>
        <p>CodeAcadamy | Angular, React Native</p>
      </div>
    </div>
  </section>
</main>

<!-- <button routerLink="sj-router">About</button> -->
