main {
  width: 100%;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: rgb(68, 68, 68);
  position: relative;

  .card_view {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.174);
    background-color: white;
    width: 310px;
    height: 390px;
    border-radius: 24px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    header {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 6px;

      p {
        font-size: 12px;
        font-weight: 700;
      }

      i {
        font-size: 14px;
      }
    }

    .profile_pic {
      max-width: 130px;
      width: 100%;
      margin-bottom: 8px;
    }

    .content_1 {
      display: flex;
      flex-direction: column;
      margin-top: 20px;

      h3 {
        font-size: 14px;
        font-weight: 800;
        color: #838ff7;
        letter-spacing: 1px;
        margin-top: 8px;
        line-height: 18px;
      }

      h4 {
        font-size: 28px;
        font-weight: 900;
        line-height: 32px;
        color: rgb(43, 43, 43);
        letter-spacing: 1px;
      }

      p {
        font-size: 14px;
        font-weight: 600;
        color: #858585;
        margin-top: 4px !important;
      }
    }

    .content_2 {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 0;
      margin: 0;
      list-style: none;
      margin-top: 6px;

      li {
        width: 100%;
        background-color: #838ff7;
        font-size: 12px;
        font-weight: 600;
        line-height: 22px;
        letter-spacing: 0.5px;
        border-radius: 50px;
        padding: 1px 10px !important;
        color: white;
        position: relative;
        z-index: 1;
      }
    }

    .content_3 {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 0;
      margin: 0;
      list-style: none;
      margin-top: 6px;

      li {
        width: 100%;
        background-color: #eeeeee;
        font-size: 12px;
        font-weight: 600;
        line-height: 22px;
        letter-spacing: 0.5px;
        border-radius: 50px;
        padding: 1px 10px !important;
        color: white;
        position: relative;
        z-index: 1;

        span {
          background-color: #838ff7;
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
          height: 100%;
          border-radius: inherit;
        }

        .bar-1 {
          width: 90%;
        }

        .bar-2 {
          width: 75%;
        }

        .bar-3 {
          width: 80%;
        }

        .bar-4 {
          width: 70%;
        }
      }
    }

    button {
      width: 100%;
      padding: 8px;
      border-radius: 50px;
      border: none;
      font-weight: 600;
      letter-spacing: 1px;
    }
  }

  .card_1 {
    z-index: 4;
  }

  .card_2 {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-74%, -62%) rotate(-7deg);
    transition: all 0.2s;
  }

  .card_2_active {
    z-index: 5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-80%, -50%) rotate(0deg);
    transition: all 0.2s;
  }

  .card_2:hover {
    transform: translate(-76%, -64%) rotate(-9deg);
  }

  .card_3 {
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-26%, -62%) rotate(7deg);
    transition: all 0.2s;
  }

  .card_3_active {
    z-index: 5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-26%, -50%) rotate(0deg);
    transition: all 0.2s;
  }

  .card_3:hover {
    transform: translate(-24%, -64%) rotate(9deg);
  }
}
